<!doctype html>
<html lang="en" data-framework="backbonejs">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Backbone.js • TodoMVC</title>
		<link rel="stylesheet" href="bower_components/todomvc-common/base.css">
	</head>
	<body>
        <h2><div style="color:red">Make sure to open up your browser's console to see what is happening with Kojak!</div></h2>
		<section id="todoapp">
			<header id="header">
				<h1>todos</h1>
				<input id="new-todo" placeholder="What needs to be done?" autofocus>
			</header>
			<section id="main">
				<input id="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul id="todo-list"></ul>
			</section>
			<footer id="footer"></footer>
		</section>
		<footer id="info">
			<p>Double-click to edit a todo</p>
			<p>Written by <a href="https://github.com/addyosmani">Addy Osmani</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<script type="text/template" id="item-template">
			<div class="view">
				<input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
				<label><%- title %></label>
				<button class="destroy"></button>
			</div>
			<input class="edit" value="<%- title %>">
		</script>
		<script type="text/template" id="stats-template">
			<span id="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span>
			<ul id="filters">
				<li>
					<a class="selected" href="#/">All</a>
				</li>
				<li>
					<a href="#/active">Active</a>
				</li>
				<li>
					<a href="#/completed">Completed</a>
				</li>
			</ul>
			<% if (completed) { %>
			<button id="clear-completed">Clear completed (<%= completed %>)</button>
			<% } %>
		</script>
		<script src="bower_components/todomvc-common/base.js"></script>
		<script src="bower_components/jquery/jquery.js"></script>
		<script src="bower_components/underscore/underscore.js"></script>
		<script src="bower_components/backbone/backbone.js"></script>
		<script src="bower_components/backbone.localStorage/backbone.localStorage.js"></script>
		<script src="js/models/todo.js"></script>
		<script src="js/collections/todos.js"></script>
		<script src="js/views/todo-view.js"></script>
		<script src="js/views/app-view.js"></script>
		<script src="js/routers/router.js"></script>
		<script src="js/app.js"></script>

        <!--BEGIN NEW CODE to demonstrate how to use Kojak-->

        <!--Add Kojak-->
        <!--You might conditionally add Kojak based on dynamic state / if your profiling your code.  Maybe with a query string parameter?-->
        <script src="../../Kojak.min.js"></script>

        <script>
            // There are many ways of starting Kojak.
            // To make things simple just start it on the jquery ready event
            jQuery(document).ready(function(){

                // The Todos collection (/js/collections/Todos.js) does not expose the clazz as a variable under app
                // like the other classes such as app.Todo (js/models/todos.js).
                // So, I'll expose the app.todos class directly under app here.
                // Normally you will not need to do this
                app.Todos = app.todos.constructor;

                // This todoMVC example app is too small / simple / fast.
                // I need to introduce artificial performance blocks to make things more interesting
                var blockThread = function (waitInMillis) {
                    var start = new Date() - 0;
                    var stop = start + waitInMillis;
                    while ((new Date() - 0) < stop) {}
                };

                // artificially add the delay in the initialize method
                app.Todo.prototype.initialize = function(){
                    console.log('waiting for ', 250);
                    blockThread(250);
                };

                // Tell Kojak we care about all the code under the name window.app
                kConfig.setIncludedPakages(['app']);

                // Make sure Kojak doesn't have any garbage in it's excluded paths
                kConfig.setExcludedPaths([]);

                // Now go and instrument all of that code so we can track it's performance
                // Normally you would call this from the browser console
                kInst.instrument();

                // Check which functions have been instrumented
                // Normally you would call this from the browser console
                kRep.instrumentedCode({verbose: true});

                console.log('\n\nPlease create a few todos to execute the code');
                console.log('Then run these commands in the console:')
                console.log('\tkRep.funcPerf({sortBy: \'CallCount\'});');
                console.log('\tkRep.funcPerf({sortBy: \'IsolatedTime\'});');
            });
        </script>
	</body>
</html>
